body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    
  }
  
  .a1 {
    background-color: cyan;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    
    
  }
  
  .input-container {    
    border: solid 2px black;
    padding: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .input {
    border: solid;
    background-color: transparent;
    
    font-size: 24px;
    letter-spacing: 4px;
  }
  
  
  
  
  .btn {
    background: black;
    color: rgb(253, 10, 10);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: pink;
  }
  
 
  